@CHARSET "UTF-8";

html * {
	font-size:9pt;
	font-family:Verdana,Arial,sans-serif;
}

body {
	padding:0;
	margin:0;
	background:#dcdad5;
}

div#div_login {
	position:relative;
	width:300pt;
	height:120pt;
	left:50%;
	margin-left:-150pt;
	top:150pt;
	border:1pt solid #555555;
	padding:8pt;
	border-radius:8pt;
	background:white;
}

div#div_logout {
	position:absolute;
	right:0.4pt;
}

div#div_logout a {
	color: white;
	font-size:8pt;
}

div#content {
	position:relative;	
	margin-top:0;	
	background:white;
	border:1pt solid #555555;
	border-top:none;
	min-height:500pt;
	padding:0 5pt 0 5pt;
}

div#dashboard {
  	padding-left:18pt;
}

div#displaytest {
	position:absolute;
	background:white;
	border:1pt solid #555555;
	top:400pt;
	margin:80pt;
	padding:10pt;
	min-height:200pt;
}

a, a:link, a:visited {
	color:#2a5685;
	text-decoration:none;
}

a:hover, a:active {
	color:#C61A1A;
	text-decoration:underline;
}

form label {
	display:inline;
	float:left;
	width:85pt;
}

fieldset {
	margin:5pt;
	padding:1pt;
}

fieldset fieldset {
	width:350pt;  
	float:left;
}

fieldset legend {
	padding: 1pt 3pt;
	margin:0pt 3pt 0pt 3pt;
	font-weight:bold;
	font-size:140%;
}

fieldset fieldset legend {
	font-size:120%;
}
/*
fieldset fieldset:nth-child(even) {
	clear:both;  
}
*/
fieldset.large {
	width:715pt;
}

fieldset.large label {
	width:120pt;
}

.spacer { clear : both; height:0pt;}

table {
	margin:2pt;	
	border: solid black 1pt;
	overflow: hidden;
}

table tr {
	position: relative;
}

table tr th {
	font-weight:normal;
}

table tr td {
	padding-right:4pt;
	padding-left:4pt;
	border-right:1px solid grey;
}

table tr td:first-child {
	padding-left:2pt;
}

table tr td:last-child {
	padding-right:2pt;
	border-right:none;
}

h1 {
	font-size:18pt;
	margin-top:0;
	margin-bottom:0;
	font-weight:normal;
}

h2 {
	font-size:14pt;
	margin-bottom:0;
	font-weight:normal;
}

h3 {
	font-size:12pt;
	margin-bottom:0;
	font-weight:normal;
}

h4 {
	font-size:10pt;
	margin-bottom:0;
	font-weight:normal;
}

table.table_admin {
	clear:both;
	white-space: nowrap;
	border-radius: 5pt 5pt 0 0pt;
	min-width:180pt;
}

table.table_admin thead tr th {
	border-bottom:1pt solid black;
	background:#2C4056;
	padding:1pt 15pt 1pt 15pt;
	color:white;
}

table.table_admin tbody tr:nth-child(odd) {
	background:#E6EEF7;
}

#popup_information {
	position:absolute; 
	border:1px solid black; 
	right:5pt; 
	top:74pt;
	width:230pt;
	height:200pt;
	background: silver; 
	z-index:99;
}

#maxim_popup_information {
	position:absolute; 
	border:1px solid black; 
	right:5pt; 
	top:74pt;
	width:230pt;
	height:5pt;
	background: silver; 
	z-index:98;
}

input, textarea {
	margin:0 0 1pt 0;
	color:black;
	padding: 1pt 1pt 1pt 1pt;
	border-style:solid;
	border-width: 1pt;
	border-color:black;
	overflow:hidden;
	vertical-align:middle;
	height:12pt;
	background:white;
}

dt {
	font-weight: bold;
	padding-bottom: 10pt;
	padding-top: 10pt;
}

textarea {
	height:120pt;
	width:200pt;
	overflow:auto;
}

select {
	margin:0 0 1pt 0;
	color:black;
	padding: 1pt 1pt 1pt 1pt;
	border-style:solid;
	border-width: 1pt;
	border-color:black;
	vertical-align:middle;
	background:white;
	height:16pt;
}

select.multiselect {
	height:150pt;
	vertical-align:inherit;
	width:350pt;
}

input[type=checkbox] {
	margin: 2pt 0pt 2pt 0pt;
}

input[type=submit],
input[type=button] {
	height:16pt;
}

input[disabled], select[disabled] { background: silver; }

img {
	border:0;
}

.imggraph {
	padding:3px;
	vertical-align:top;
	cursor: url(../img/zoom.png), pointer;
}

#mask {
	height: 100%;
	width: 100%;
	background: #000000;
	position: fixed;
	top: 0;
	-moz-opacity:0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	filter:alpha(opacity=75);
}

#popup {
	width: 900px;
	position:fixed;
	
  	-moz-border-radius: 5pt;
	border-radius: 5pt;	
	margin: auto;
	border: 1px solid #000000;
	background: #C5D6EA;
	left: 50% ;
	margin-left:-450px;
	
	top: 50px;	
	padding:22px;
}

#close_popup {
	position: relative;
	top:-22px;
	margin-right:-22px;
	float: right;
	cursor:pointer;
}

#move_popup {
	position: relative;
	float: left;
	cursor:pointer;
	top:-22px;
	margin-left:-22px;
}

/********* Datepicker Fix ************/
#ui-datepicker-div {
  border:1px solid black;
}

.ui-widget-header {
	background:#507AAA;
	background-image:none;
}

.ui-widget-header a, 
.ui-widget-header a:link, 
.ui-widget-header a:visited {
	color:white;
}

/********* DataTable Fix ************/
table.table_admin tr th.sorting_asc {
        background: url('../img/sort_asc.png') #2C4056 no-repeat center right;
}

table.table_admin tr th.sorting_desc {
        background: url('../img/sort_desc.png') #2C4056 no-repeat center right;
}

table.table_admin tr th.sorting {
        background: url('../img/sort_both.png') #2C4056 no-repeat center right;
}

table.table_admin tr th.sorting_asc_disabled {
        background: url('../img/sort_asc_disabled.png') #2C4056 no-repeat center right;
}

table.table_admin tr th.sorting_desc_disabled {
        background: url('../img/sort_desc_disabled.png') #2C4056 no-repeat center right;
}

.dataTables_wrapper {
	clear:none;
	position: static;
}

.dataTables_length {
	width: auto;
	padding-right:15pt;
}

.dataTables_filter {
	width: auto;
	float:none;
	text-align:left;
}

.dataTables_info {
	width: auto;
}

.dataTables_paginate {
	float:left;
	text-align:left;
}

.paginate_disabled_previous {
	background: url('../img/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('../img/back_enabled.png') no-repeat top left;
}

.paginate_enabled_previous:hover {                                                    
	background: url('../img/back_enabled_hover.png') no-repeat top left;       
}

.paginate_disabled_next {                                                             
	background: url('../img/forward_disabled.png') no-repeat top right;        
}                                                                                     
                                                                                        
.paginate_enabled_next {                                                              
	background: url('../img/forward_enabled.png') no-repeat top right;         
}                                                                                     

.paginate_enabled_next:hover {                                                        
	background: url('../img/forward_enabled_hover.png') no-repeat top right;   
}
 
/** Redmon Override **/                                         
.uix-multiselect .option-element,
.header-text {
	font-weight:normal;
}

.uix-list-container {
	border:1pt solid black;
}

.multiselect-selected-list .uix-list-container {
	border-right: none;
}

.ui-widget-header {
	background: #2C4056;
	border:none;
	border-top:1pt solid black;
}

.ui-corner-tr {
	border-right:1pt solid black;
}

.ui-corner-tl {
	border-left:1pt solid black;
}

