div#div_header {
	width:100%;
	height:14pt;
	background:#2c4056;
}

div#div_header a {
	font-size:80%;
	font-weight:bold;
	margin-right:5pt;
	margin-left:5pt;
	margin-top:3pt;
	color:white;
	text-decoration:none;
}

div#div_header a:hover {
	text-decoration:underline;
}
	
div#div_menu,
div#div_menu_project,
div#div_menu_server_role,
div#div_menu_server_environment,
div#div_menu_project_server {
	font-weight: bold; 
	font-size: 90%; 
	width:100%;
	background:#507aaa;
	border-bottom:2pt solid #2c4056;
}

div#div_menu {
	height:52pt;
}

div#div_menu_project,
div#div_menu_server_role,
div#div_menu_server_environment,
div#div_menu_project_server {
	font-weight: normal;
	min-height:16pt;
	background:#aabed5;
}

div#div_menu_project_server {
	background:#c5d6ea;
}


div#div_menu_project span,
div#div_menu_project_server span,
div#div_menu_server_role span,
div#div_menu_server_environment span {
	padding: 0pt 5pt 0pt 5pt;
	margin:0;
	min-width:60px;
	float:left;
}

/*
div#div_menu_project span:hover,
div#div_menu_project_server span:hover {
	background:#759FCF;
}
*/
div#div_menu_project span a, 
div#div_menu_project span a:link, 
div#div_menu_project span a:hover, 
div#div_menu_project span a:active,
div#div_menu_project_server span a,
div#div_menu_project_server span a:link,
div#div_menu_project_server span a:hover,
div#div_menu_project_server span a:active,
div#div_menu_server_role span a,
div#div_menu_server_role span a:link,
div#div_menu_server_role span a:hover,
div#div_menu_server_role span a:active,
div#div_menu_server_environment span a,
div#div_menu_server_environment span a:link,
div#div_menu_server_environment span a:hover,
div#div_menu_server_environment span a:active {
	color:black;
	text-decoration:none;
	line-height:14pt;
}

div#div_menu_project input {
	width:80pt;
}

div#div_menu_project label {
	line-height:14pt;
}

div#div_menu_project label, 
div#div_menu_project input {
	font-size: 80%; 
	height:10pt;
	margin:0;
	margin-top:1pt;
	margin-right:1pt;
	float:right;
}

div#div_menu_project span a:hover, 
div#div_menu_project_server span a:hover {
	color: #2C4056;
}

div#div_menu h1 {
	margin:0;
	padding:3pt 0 0 3pt;
	color:white;
}

div#div_menu ul.niveau1 {
	float:left;
	padding:0;
	margin:0;
	/*margin-right:2pt;*/
	display:block;
	list-style:none;
	margin-top:10pt;
}

div#div_menu ul ul {
	padding-right: 0pt; 	
	padding-bottom: 0pt;
	padding-top: 0pt; 
	padding-left: 0pt;
	
	display: none; 
	left: 124pt; 
	margin: 0pt; 
		 
	position: absolute; 
	top: -1pt;
}

div#div_menu ul ul ul {
  top:-1.5pt;
  margin-left:-1pt;
}

div#div_menu li {
	padding-right:2pt; 
	padding-left:2pt;
	padding-bottom:2.25pt; 
	padding-top:2.25pt; 
	margin:0pt;
	width:120pt; 
	list-style-type:none; 
	position:relative; 
	color:white;
	text-align:center;
}

div#div_menu li:hover{
	background-color:#759FCF;
}

div#div_menu li li {
	border:2pt solid #2c4056;
	border-top:none;
}
div#div_menu li li:first-child {
	border-top:2pt solid #2c4056;
}
/*
div#div_menu li.sfhover {
	background-color:#759FCF;
}
*/
div#div_menu li a {
	text-decoration:none;
	color:white;
}

div#div_menu li:hover ul.niveau2 {
	display:block;
	left:0;
	top:15pt;
	background-color:#507aaa;
	/*border:2pt solid #2c4056;
	border-top:none;*/
}
/*
div#div_menu li:hover ul.niveau2 li {
	border-top:2pt solid #2c4056;
}
*/
div#div_menu li li:hover ul.niveau3 {
	display:block;
	background-color:#507aaa;
}

div#div_menu li.sfhover ul.niveau2 {
	display:block;
	background-color:#507aaa;
}
/*
div#div_menu li li.sfhover ul.niveau3 {
	display:block;
	background-color:#507aaa;
}
*/
div#div_menu li.plus {
	background-position:right 50%; 
	background-image:url(image/fdroite_bis.gif); 
	/*border-bottom:#b0b0b0 1pt solid;*/ 
	background-repeat:no-repeat
}

div#div_menu li.plus:hover,
div#div_menu li.plus:active {
	background-image:url(image/fdroite.gif); 
}

div#left_menu img {
	border:0;
	height:22px;
	width:22px;
	padding-bottom:2pt;
}

div#left_menu {
  font-weight:bold;
  position:fixed;
  top:200pt;
  float:left;
  text-align:center;
}

div#left_menu_show {
  position:fixed;
  margin-left:18pt;
  width:120pt;
  padding:3pt;
  border:1px solid #759FCF;
  display:none;
  background:#c5d6ea;
  text-align:left;
  -moz-border-radius: 5pt;
  border-radius: 5pt;
}

div#left_menu_show ul {
  list-style:none;
  margin:0;
  padding:0;
  padding-left:8pt;
  padding-top:3pt;
  border:5px;
}

div#left_menu_show a {
  text-decoration:none;
  color:black;
}

div#jquery-live-search {
	background:white;
	border:1px solid #759FCF;
	padding-left:5pt;
	padding-right:5pt;
	overflow-x: hidden;
	overflow-y: auto;
	max-height:250pt;
	max-width: none;
}
