#dashboard{
	position : fixed;
	top : 0;
	left : 0;
	height : 100%;
	
	padding-top : 110px;
	padding-left : 250px;
	width : 100%;

	z-index : 2;
}

#dashboard_menu{
	position : fixed;
    top : 0;
    left : 0;
	height : 100%;

	padding-top : 110px;
    padding-left : 250px;

	width : 250px;
	z-index : 3;
}

#menu_left{
	height : 100%;
	width : 250px;
	margin-left : -250px;
	background-color : #AAAAAA;
}

#plugin_choice{
	height : 97%;
	padding-bottom : 10px;
	overflow-y : auto;
}


#plugin_choice .next_lvl{
	padding-left : 20px;
	width : 100%;
}

#plugin_choice .plugin-row{
	width : 100%;
	z-index : 2;
}

#plugin_choice .plugin-plus{
	width 30px;
	height : 30px;
}

#plugin_choice .button-plugin{
	width : 100%;
}

#dashboard_content{
	width : 100%; 
	height : 100%; 
	overflow-y:auto;
}

#plugin_choice::-webkit-scrollbar{
width:16px;
background-color:black;
} 
#plugin_choice::-webkit-scrollbar-thumb{
background-color:#6A92CC;
border-radius:10px;
}
#plugin_choice::-webkit-scrollbar-thumb:hover{
background-color:#4A668F;
border:1px solid #333333;
}
#plugin_choice::-webkit-scrollbar-thumb:active{
background-color:#8591A2;
border:1px solid #333333;
}

#servers{
	display: table;
    table-layout: fixed;
	width : 10px;
}

#servers th, #servers td{
	width : 340px;
}

#servers th{
	text-align:center;
}

#servers .imggraph{
	width: 290px;
}

#servers figure{
	margin : 20px 20px 20px 20px;
}

.jstree-themeicon:empty{
	display : none;
}

a .jstree-anchor > *{
	color : red;
}

#servers span[lvl]{
	font-weight : bold;
	margin-left : 20px;
}

#servers span[lvl="2"]{
	font-size : 22px;
}

#servers span[lvl="3"]{
	font-size : 18px;
}

.div-for-width{
	width : 340px;
}

.glyphicon-refresh-animate {
    -animation: spin 1.2s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.jstree-spinner{
	margin-top : 10px;
	margin-left : 10px;
}

#addServer{
	margin-left : 5px;
}

#servers tr > *:last-child{
	display : none;
}


#jquery-live-search-add-host{
	padding-left: 5pt;
	padding-right: 5pt;
	min-width: 170px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 250pt;
	z-index: 2000;
}

#filtreServeur {
	padding-top: 0;
	padding-bottom: 2px;
	margin-top: 5px;
}

